@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #F4F4F4;
}

#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

